footer {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px var(--border-thin) solid;
  padding: 16px;
  margin-top: 48px;

  div.car-drive {
    position: absolute;
    display: flex;
    inset: -48px 0 auto 0;
    overflow: hidden;

    &::before, &::after {
      display: flex;
      font-size: 40px;
      animation: footerCarDriving 10s ease-in-out infinite;
    }

    &::before { content: "🚗"; }
    
    &::after {
      content: "🚓";
      animation-timing-function: ease-in;
    }

    @keyframes footerCarDriving {
      from { translate: 100vw;}
      to { translate: -96px; }
    }
  }

  div.content {
    width: 100%;
    max-width: 960px;
    display: grid;
    gap: 16px;
    grid-template-columns: 200px 1fr;

    @media (width <= 600px) { grid-template-columns: 1fr; }

    div.left {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (width <= 600px) {
        flex-direction: row;
        gap: 16px;
      }

      img { height: 48px; }
    }

    div.right {
      max-width: 720px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;

      @media (width <= 720px) { grid-template-columns: repeat(2, 1fr); }
      @media (width <= 360px) { grid-template-columns: 1fr; }

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 15px;

        li {
          display: flex;
          gap: 6px;
        }

        b { font-weight: 600; }
        img { height: 16px; }

        a {
          display: flex;
          color: white;
          text-decoration: none;
          &:hover { text-decoration: underline; }

          div {
            color: #aaa;
            background-color: #181818;
            font-size: 13px;
            border-radius: 6px;
            padding: 2px 4px 1px;
            margin: 0 4px;
            box-shadow: 0 2px #222 inset;
          }
        }
      }
    }

    div.bottom {
      grid-column: span 2;
      text-align: right;

      @media (width <= 600px) {
        grid-column: span 1;
        text-align: center;
      }
    }
  }
}